:root {
    --primary-red: #8B0000;
    --navy-blue: #123360;
    --gold: #BF9B30;
    --charcoal: #2C3E50;
    --light-gray: #F5F5F5;
    --off-white: #FAFAFA;
    --darker-off-white: #EDEDED;
    --dark-blue: #0A1F40;
    --dark-gray: #2a3143; 
}